extends ../layout/index
block contenido
    .container
        .row.text-center
            .col.mt-4
                h1.fw-bold Guía Práctica de Fonética
                img(src="../../public/img/guia2.svg", alt="Guía Práctica de Fonética")

        .row.align-items-center.justify-content-center.text-center
            .col-sm-12.col-md-6.col-lg-6.mt-4
                h2.text-center(role='alert')=pagina
                p.text-center(class= error ? 'alert alert-danger' : 'alert alert-success')=mensaje

                if !error
                    a.text-decoration-none(href="/auth/login") Ya puedes iniciar sesión