extends ../layout/index
block contenido
    .container
        .row.text-center
            .col.mt-4
                h1.text-bold Guía Práctica de Fonética
                img(src="../../public/img/guia2.svg", alt="Guía Práctica de Fonética")

        .row.align-items-center.justify-content-center
            .col-sm-12.col-md-6.col-lg-6.mt-4
                .alert.alert-success.text-center(role='alert')=pagina
                p.text-center=mensaje